<article class="container mt-10 mx-auto px-2 md:px-6">
  <div class="mb-10">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'article_title' %}
          <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">
            {{- blog.title -}}
          </a>
          <h1 class="mb-6 text-3xl font-bold">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h1>
        {% when 'article_published_by' %}
          {% if section.settings.show_author %}
            <div class="mb-6 flex items-center">
              <div>
                <span>
                  Published <u class="no-underline">@ {{ article.created_at | date: '%Y-%m-%d %H:%M:%S' }}</u> by
                </span>
                <a href="{{ article.url }}" class="font-medium">{{ article.author }}</a>
              </div>
            </div>
          {% endif %}
        {% when 'article_featured_image' %}
          {% if article.image != blank %}
            {% assign resized_image = article.image | image_url: width: 600, height: 400 %}
            <img
              src="{{ resized_image }}"
              alt="{{ article.title }}"
              width="600"
              height="400"
              class="w-full object-cover lg:rounded mb-6 shadow-lg dark:shadow-black/20 h-[28em]"
            >
          {% else %}
            {% assign placeholder_image = 'lifestyle-1' %}
            {{
              placeholder_image
              | placeholder_svg_tag: 'w-full object-cover lg:rounded mb-6 shadow-lg dark:shadow-black/20 h-[28em]'
            }}
          {% endif %}
        {% when 'article_content' %}
          <p>{{ article.content }}</p>
        {% else %}

      {% endcase %}
    {% endfor %}
  </div>
</article>

{% if blog.comments_enabled? %}
  <section class="relative flex items-center justify-center antialiased min-w-screen">
    <div class="container px-0 mx-auto sm:px-5">
      {% if article.comments_count > 0 %}
        <div class="text-center">
          <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl">See What People Are Saying</h1>
        </div>
        {% paginate article.comments by 3 %}
          {% for comment in article.comments %}
            <div
              class="flex-col w-full py-4 mx-auto mt-3 bg-white border-b-2 border-r-2 border-gray-200 sm:px-4 sm:py-4 md:px-4 sm:rounded-lg sm:shadow-sm md:w-2/3"
            >
              <div class="flex flex-row md-10">
                <div class="flex-col mt-1">
                  <div class="flex items-center flex-1 px-4 font-bold leading-tight">
                    {{ comment.author }}
                    <span class="ml-2 text-xs font-normal text-gray-500">
                      {{- comment.created_at | date: '%Y-%m-%d %H:%M:%S' -}}
                    </span>
                  </div>
                  <div class="flex-1 px-2 ml-2 text-sm font-medium leading-loose text-gray-600">
                    {{ comment.content }}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="mt-2 text-center">
            {% if paginate.pages > 1 %}
              {{ paginate | default_pagination }}
            {% endif %}
          </div>
        {% endpaginate %}

      {% else %}
        There are no comments in this article.
      {% endif %}
    </div>
  </section>

  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl">Post a Comment</h1>
      </div>

      <div class="mt-12">
        <!-- Form -->
        {% form 'new_comment', article %}
          <div class="grid gap-4 lg:gap-6">
            {% if form.errors %}
              <div
                class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert"
              >
                {% render 'icon-failed' %}
                <span class="sr-only">Danger</span>
                <div>
                  <span class="font-medium">Ensure that these requirements are met:</span>
                  <ul class="mt-1.5 list-disc list-inside">
                    {% for error in form.errors %}
                      <li>{{ form.errors.messages[error] | capitalize }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% elsif form.posted_successfully? %}
              <div
                class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
                role="alert"
              >
                {% render 'icon-success' %}
                <span class="sr-only">Info</span>
                <div><span class="font-medium">Success!</span> Your comment has been submitted.</div>
              </div>
            {% endif %}
            <!-- Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
              <div>
                <label for="comment_author" class="block mb-2 text-sm text-gray-700 font-medium">Full Name</label>
                <input
                  type="text"
                  name="comment[author]"
                  id="comment_author"
                  class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                  placeholder="Full Name"
                  required
                >
              </div>

              <div>
                <label for="comment_author" class="block mb-2 text-sm text-gray-700 font-medium">Email</label>
                <input
                  type="email"
                  name="comment[email]"
                  id="comment_author"
                  class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                  placeholder="Email"
                  required
                >
              </div>
            </div>
            <!-- End Grid -->

            <div>
              <label for="comment_content" class="block mb-2 text-sm text-gray-700 font-medium">Description</label>
              <textarea
                id="comment_content"
                name="comment[body]"
                rows="4"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="Description"
                required
              ></textarea>
            </div>
          </div>
          <!-- End Grid -->

          <div class="mt-6 grid">
            <button
              type="submit"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-800 text-black disabled:opacity-50 disabled:pointer-events-none"
              value="Post comment"
            >
              Submit
            </button>
          </div>
        {% endform %}
        <!-- End Form -->
      </div>
    </div>
  </div>
  <!-- End Hire Us -->
{% endif %}

{% schema %}
{
  "name": "Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show Published By",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_published_by",
      "name": "Published By",
      "limit": 1
    },
    {
      "type": "article_featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
