{% if section.settings.buttonUrl == blank %}
  {% assign shop_url = shop.secure_url %}
{% else %}
  {% assign shop_url = section.settings.buttonUrl %}
{% endif %}

<section class="grid h-screen place-content-center bg-white px-4">
  <div class="text-center">
    <h1 class="text-9xl font-black text-gray-200">{{ section.settings.title }}</h1>
    <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ section.settings.subtitle }}</p>
    <p class="mt-4 text-gray-500">{{ section.settings.desc }}</p>
    <a
      href="{{ shop_url }}"
      class="mt-6 inline-block rounded-lg border border-gray-500 px-5 py-3 text-sm font-medium text-black focus:outline-none"
    >
      {{ section.settings.buttonText }}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "404"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Uh-oh!"
    },
    {
      "type": "text",
      "id": "desc",
      "label": "Description",
      "default": "We can't find that page."
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text",
      "default": "Go Back Home"
    },
    {
      "type": "url",
      "id": "buttonUrl",
      "label": "Button Url"
    }
  ]
}
{% endschema %}
